.all{
    width: 100%;
    height: 100vh;
    background:linear-gradient(10deg , #fff , #b6b9e798);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.all .img-pt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.img-pt img{
    width: 80%;
    border-radius: 10px;
    border: 3px solid var(--color-secondary);
}

.S-content{
    height: 65%;
    width: 50%;
    padding: 20px;
    padding-left: 10%;
    padding-right: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    direction: ltr;
}

.S-content h1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 15%;
    width: fit-content;
    position: relative;
    color: var( --color-primary);
    font-size: 25px;
}

.S-content h1::after{
    content: ' ';
    width: 100%;
    height: 5px;
    background-color: var( --color-secondary);
    position: absolute;
    bottom: 0;
    right: 0;
}


.S-content p{
    width: 100%;
    height: 55%;
    font-size: 17px;
    line-height: 1.8;
}
.S-content a.go{
    width: fit-content;
    height: 15%;
    background-color: var( --color-primary);
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 0 20px;
    border: 3px solid var(--color-secondary);
    transition: all .3s ease-in-out;
}

.S-content a.go:hover{
    background-color: var(--color-secondary);
    /* color: var(--color-primary); */
}

.S-content a.back{
    width: fit-content;
    height: 15%;
    font-size: 16px;
    color: var( --color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;    
}
/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

@media (max-width:450px) {
    .all{
        padding-top: 10px;
        flex-direction: column-reverse;
        height: auto;
        padding: 10px;
        padding-bottom: 15px;
    }
    
    .all .img-pt{
        width: 100%;
        height: 35%;
    }
    
    .img-pt img{
        width: 95%;
    }
    
    .S-content{
        height: 65%;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
    }
    
    .S-content h1{
        align-items: center;
        padding-bottom: 20px;
    }    
    
    .S-content p{
        width: 100%;
        height: 55%;
        font-size: 17px;
        line-height: 1.8;
        text-align: center;
        padding: 0 5px;
        padding-top: 10px;
    }
    
    .S-content a.go{
        height: 10%;
        padding: 0 20px;
    }
}

@media (min-width:451px) and (max-width: 767px) {
    .all{
        height: 100vh;

        flex-direction: column-reverse;
    }
    
    .all .img-pt{
        width: 100%;
        height: 40%;
        padding-top: 30px;
    }

    .img-pt img{
        width: 95%;

    }
    
    .S-content{
        height: 60%;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
    }
    
    .S-content h1{
        align-items: center;
        padding: 10px;
    }    
    
    .S-content p{
        width: 100%;
        height: 55%;
        font-size: 17px;
        line-height: 1.5;
        text-align: center;
        padding: 0 5px;
    }
    
    .S-content a.go{
        height: 13%;
        padding: 0 20px;
    }
}



@media (min-width:768px) and (max-width: 991px) {
    
    .all{
        height: 120vh;
    }

    .img-pt img{
        width: 100%;
    }
    
    .S-content{
        height: 70%;
        padding-right: 40px;
    }
    
    .S-content p{
        line-height: 1.8;
        font-size: 18px;
    }

    .S-content a.go{
        height: 10%;
    }
}


@media (min-width:992px) and (max-width: 1199px) {

.img-pt img{
    width: 90%;
}

.S-content p{
    font-size: 18px;
    line-height: 2;
}

.S-content a.go{
    width: fit-content;
    height:12%;
    background-color: var( --color-primary);
    font-size: 18px;
    padding: 0 15px;
}
.S-content a.back{
    font-size: 14px;
    padding-right: 10px;    
}
}

/* 
*/